@import "../../styles/variables.scss";
@import "../../styles/theme/light.scss";

.add-expense-container {
  padding: 15px 150px;
  .m-t-b-25 {
    margin: 25px 0px;
  }
  .m-t-10 {
    margin-top: 10px;
  }
  .p-l-15 {
    padding-left: 15px;
  }
  .p-l-r-15 {
    padding: 0 15px;
  }
  .expense-title {
    font-size: 24px;
    color: $primary-theme-clr;
    margin: 10px 0 0;
    img {
      padding-right: 10px;
    }
  }
  .form-container {
    border-radius: 2px;
    background-color: $white;
    box-shadow: 0 6px 8px 0 rgba(189, 208, 223, 0.5);
    padding: 30px 30px 40px;
  }
}

@media(max-width:1199px) {
  .add-expense-container {
    padding: 15px 50px;
  }
}

@media(max-width:767px) {
  .add-expense-container {
    padding: 15px 0px;
  }
}

@media(max-width:640px) {
  .add-expense-container {
    padding: 0px;
  }
  .add-expense-container {
    .form-container {
      padding: 10px 15px 30px;
      ul {
        padding: 5px 0 0;
        overflow-x: scroll;
        display: block;
        white-space: nowrap;
        li {
          display: inline-block;
        }
      }
    }
  }
}
