@import '../variables.scss';
@import '../theme/light.scss';

main.app-mainArea {
	min-height: 100vh;
    padding-top: 70px;
    background: $white;
}

.hnt {
	font-size: 1rem;
}
.pointer {
	cursor: pointer;
}
.link {
	color: #007bff;
}
