@import url('https://use.typekit.net/fhh4acs.css');
// Primary color variables
$primary-color: #22B686;
$secondary-color: #3A7DFE;
$black: #000;
$grey: #70808D;
$light-grey: #D7DEE8;
$bg-grey: #EEF2F5;
$warning: #F77676;
$white: #fff;
$inactive-nav-link: #C1CCDB;




//colors
$primary-font-family: 'proxima-nova';
