.container-fluid {
	overflow-x: hidden;
}

.btn {
	font-size: 15px;
	padding-top: 11px;
	padding-bottom: 11px;
	border-radius: 2px;
}

.btn-primary {
	background-color: $primary-color;
	border-color: $primary-color;
	&:hover {
		background-color: $primary-color;
		border-color: $primary-color;
	}
	&:focus {
		box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.5);
	}
	&.focus {
		box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.5);
	}
}

.btn-outline-primary {
	color: $primary-color;
	background-color: transparent;
	background-image: none;
	border-color: $primary-color;
	&:hover {
		background-color: $primary-color;
		border-color: $primary-color;
	}
	&:focus {
		box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.5);
	}
	&.focus {
		box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.5);
	}
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
	color: #fff;
	background-color: $primary-color;
	border-color: $primary-color;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.5);
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
	background-color: $primary-color;
	border-color: $primary-color;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.5);
}

.form-control{
	&:focus {
		border-color: $secondary-color;
	}
}

.navbar {
	background: $white;
	border-bottom: 1px solid #343a401f;
}

.navbar-dark .navbar-brand {
	color: $black;
	&:focus, &:hover {
		color: $black;
	}
}

.nav-link {
	color: $black !important;
}
.navbar-dark .navbar-toggler {
    color: $black;
	border-color: #1b1e2159;
	outline: none !important;
}

.navbar-toggler {
	padding: 0.25rem 0.25rem;
}

.navbar-toggler-icon {
	background: #00000087;
}

.nav-item {
  &:hover {
	.nav-link {
		background: rgba(0, 0, 0, 0.075);
	}
  }
  &.active {
	  .nav-link {
		  color: blue;
	  }
  }
}

.nav-item {
	cursor: pointer;
	padding: 0px 30px;
	.dropdown-item.active, .dropdown-item:active, .dropdown-item:hover {
	  color: $black;
	  outline: none;
	  text-decoration: none;
	  background-color: rgba(0, 0, 0, 0.02);
	  &:hover {
		background: rgba(0, 0, 0, 0.075);
	  }
	}
  
	.dropdown-item { 
	  padding: 0.6rem 1.5rem;
	}
  
	.dropdown-menu {
	  padding: 0;
	  font-size: 15px;
	  margin: 0.125rem 25px 0;
	  &.show {
		border: 1px solid rgba(0, 0, 0, 0.05);
	  }
	}
}

.nav-dropdown-toggle {
	cursor: pointer;
}

.rw-datetime-picker {
	.rw-widget-picker {
    border-radius: 2px;
    border: solid 1px #d7dee8;
		height: 35px;
		text-transform: capitalize;
		&:hover {
			box-shadow: none;
    }
    input {
      border-top-right-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
      border: none;
    }
    >.rw-select {
      border-top-right-radius: 2px !important;
      border-bottom-right-radius: 2px !important;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
	}
}

@media screen and (max-width: 991px) {
	.navbar-collapse {
		margin-top: 15px;
		.nav-item {
			padding: 5px 30px;
		}
	}
	
}