$side-nav-width: 200px;
$app-header-height: 70px;
$primary-theme-clr: #353c44;
$error-color: #FF5766;
$input-text-clr: #253858;
$dark-grey: #aaa;
$white-clr: #fff;
$table-header-clr: #292834;;
$table-content-clr: #464343;
$checkbox-border-clr: #5e6c84;
$checkbox-checked-border-clr: #1b63dc;
$checkbox-bg-color: #eef1f7;
$checkbox-box-shadow-clr: inset 0 2px 1px 0 rgba(0, 0, 0, 0.06);
$checkbox-tick-bg-color: rgba(27, 99, 220, 0.09);